In [22]:
import pandas as pd
import pyodbc

# Define file path
file_path = "C:/Users/1/Desktop/Final Project/Characterizing-Parliament-Members-using-LLM/KNS_description.xlsx"

# Read the Excel file
df = pd.read_excel(file_path, usecols=["Name", "Description"])

# Define database connection parameters
server = "DESKTOP-9LFS960\SQLEXPRESS"  # Change to your server name
database = "KNS_Description"  # Change to your database name

dsn = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes'

# Establish connection
conn = pyodbc.connect(dsn)
cursor = conn.cursor()

In [18]:
df

                 Name                                        Description
0          Miri Regev  is a prominent and fiery figure in Israeli pol...
1          Yair Lapid  is a charismatic centrist leader celebrated fo...
2     Itamar Ben-Gvir  is an uncompromising and provocative figure, k...
3  Benjamin Netanyahu  is a veteran statesman and towering figure in ...
4         Benny Gantz  is a distinguished and methodical leader who s...

In [23]:
# Insert data into kns_history table
for index, row in df.iterrows():
    cursor.execute("""
        INSERT INTO KNS_Description.dbo.kns_history (KNS_name, Description)
        VALUES (?, ?)""",
        row["Name"], row["Description"]
    )

# Commit and close connection
conn.commit()
cursor.close()
conn.close()

print("Data inserted successfully!")

Data inserted successfully!